<template name="info">
  <h2>Links!</h2>

  <div id="links">
      {{#if Template.subscriptionsReady}}
        {{#each lnk in links}}
            {{> single_link lnk }}
        {{/each}}
      {{else}}
        {{> loading}}
      {{/if}}

      <div class="container">
          {{#if isEdited 'new'}}
              <form class="info-link-add">
                  <div class="col">
                      <input type="text" name="title" class="form-control" placeholder="Title" required>
                  </div>
                  <div class="col">
                      <input type="url" name="url" class="form-control" placeholder="Url" required>
                  </div>
                  <div class="col">
                      <button type="submit" name="submit" class="form-control btn btn-primary form-control">Add new link</button>
                  </div>
              </form>
          {{else}}
              <i class="bi-plus-circle add-link" data="new"></i>
          {{/if}}
      </div>
  </div>
</template>

<template name="single_link">
    {{#if isEdited _id}}
    <form class="info-link-update">
        <div class="row">
            <div class="col">
                <input type="text" name="title" class="form-control" value="{{title}}" required>
            </div>
            <div class="col">
                <input type="url" name="url" class="form-control" value="{{url}}" required>
            </div>
            <div class="col">
                <button type="submit" name="edit_submit" class="btn btn-primary">Update</button>
                <button class="btn btn-secondary btn-sm edit_cancel">Cancel</button>
            </div>
        </div>
    </form>
    {{else}}
    <div class="container">
        <div class="row">
        <div class="col">{{title}}</div>
        <div class="col"><a href="{{url}}" target="_blank">{{url}}</a></div>
        <div class="col">
            <i class="bi-pencil edit-link" data="{{_id}}"></i>
            <i class="bi-trash remove-link" data="{{_id}}"></i>
        </div>
        </div>
    </div>
    {{/if}}
</template>
