<template name="info">
  <h2>Learn Meteor!</h2>

  <div id="links">
    {{#each lnk in links}}
        {{> single_link lnk }}
    {{/each}}

  <div class="pure-g">
      {{#if isEdited 'new'}}
      <form class="info-link-add pure-form pure-g">
          <fieldset>
              <div class="pure-u-1-4">
                  <input type="text" name="title" class="pure-input-1" placeholder="Title" required>
              </div>
              <div class="pure-u-1-4">
                  <input type="url" name="url" class="pure-input-1" placeholder="Url" required>
              </div>
              <div class="pure-u-1-4">
                  <button type="submit" name="submit" class="pure-input-1 pure-button pure-button-primary">Add new link</button>
              </div>
          </fieldset>
      </form>
      {{else}}
      <div class="pure-u-1">
          <i class="fa fa-plus add-link" data="new"></i>
      </div>
      {{/if}}
  </div>
  </div>
</template>

<template name="single_link">
    {{#if isEdited _id}}
    <form class="info-link-update pure-form pure-g">
        <div class="pure-u-1-4">
            <input type="text" name="title" class="pure-input-1" value="{{title}}" required>
        </div>
        <div class="pure-u-1-4">
            <input type="url" name="url" class="pure-input-1" value="{{url}}" required>
        </div>
        <div class="pure-u-1-4">
            <button type="submit" name="edit_submit" class="pure-input-1 pure-button pure-button-primary">Update</button>
        </div>
        <div class="pure-u-1-4">
            <button class="pure-input-1 pure-button edit_cancel">Cancel</button>
        </div>
    </form>
    {{else}}
    <div class="pure-g">
        <div class="pure-u-1-4">{{title}}</div>
        <div class="pure-u-1-4"><a href="{{url}}" target="_blank">{{url}}</a></div>
        <div class="pure-u-1-4">
            <i class="fa fa-pen edit-link" data="{{_id}}"></i>
            <i class="fa fa-trash remove-link" data="{{_id}}"></i>
        </div>
    </div>
    {{/if}}
</template>
